@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Universidad Don Bosco</h1>

</div>
<div class="column">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qMbdula-4Fs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="column"> <p>La Universidad Don Bosco es una institución salesiana de educación superior con 35 años de trayectoria. Forma parte de la red de Instituciones Salesianas de Educación Superior (IUS) en el mundo.</p>
                    
                   <p>Somos referente en El Salvador y Centroamérica por nuestro modelo educativo e innovación curricular para la formación integral de la persona, a través de un enfoque por competencias.</p>
                   <p> Desde 2019, fortalecemos nuestra oferta académica en Educación a Distancia al incorporar las siguientes carreras:</p> 
              
                   <p>Técnicos: Técnico en Ingeniería en Computación, Técnico en Marketing Digital y Ventas, Técnico en Diseño Gráfico, Técnico en Control de la Calidad, Técnico en Ortesis y Prótesis.</p>
                   <p>Ingenierías: Ingeniería Industrial e Ingeniería en Ciencias de la Computación.</p>
                   <p>Licenciaturas: Licenciatura en Diseño Gráfico y Licenciatura en Administración de Empresas.</p>
                   <p>Maestrías: Maestría en Arquitectura de Software y Maestría en Políticas para la Prevención de la Violencia Juvenil en Cultura de Paz.</p>
                    
</div>
